.popupContainer {
  border-radius: 10px;
}

.popupHeader {
  border-radius: 10px;
}

.popupNavigation {
  border-radius: 10px;
}

.popupRecents {
  border-radius: 10px;
}

.popupTools {
  border-radius: 10px;
}
