# Node.js dependencies
/node_modules/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Build outputs
/dist/
build/

# Parcel cache and log files
/.parcel-cache/
.cache/
*.log

# Environment variables
.env
.env.local

# IDE-specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# WebExtension-specific
# Exclude files related to Chrome, Firefox or other WebExtensions during development
**/*.crx
**/*.xpi

# Coverage reports
coverage/

# TypeScript build artifacts
*.tsbuildinfo

# Miscellaneous
*.bak
*.tmp

# Other
/archive/
/docs/
/.npmrc